html, body, li {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  font-family: Helvetica, sans-serif;
  font-size: 18px;
}

h4 {
  font-weight: normal;
  margin: 10px 0;
}

nav {
  background-color: #9fc5e8;
  border: 1px solid black;
  display: flex;
  justify-content: flex-end;
  height: 50px;
}

button {
  background-color: #e06666;
  border: 1px solid black;
  outline: none;
  margin: 5px;
  cursor: pointer;
  font-size: 1em;
  padding: 10px;
  min-width: 120px;
}

button:hover {
  background-color: firebrick;
}

.product-list {
  background-color: #cfe2f3;
  border: 1px solid black;
  display: flex;
  flex: 4;
  padding: 10px 40px;
}

.product-list__card {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-between;
  background: #ffffff;
  height: 300px;
  margin: 10px;
}
